.list {
    margin: 0;
    padding: 0;
    width: 700px;
    list-style-type: none;
    padding-left: 60px;

}

.listItem {
    /*width: calc(20% - 16px);*/
    width: 200px;
    height: 130px;
    display: inline-block;
    padding: 8px;
    margin: 30px 20px;
}

h3 {
    text-align: center;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
}