.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
    margin: 40px;
    margin-top: 0;
}

.holder {
    display: inline-block;
}


